@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url("https://i.pinimg.com/1200x/ec/8e/7e/ec8e7e6b5bb26171edc220c45960431c.jpg"); */
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://i.pinimg.com/1200x/f4/51/45/f45145188ba6bdf368f43e812e44c4f2.jpg);
}

header{
    border: 5px solid none;
    height: 100vh;
}

nav {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid none;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 120px;
    width: 170px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid none;
    /* margin: 0 10px; */
}

li {
    border: 1px solid red;
    list-style: none;
    padding: 10px 20px;
    color: #fff;
    margin: 0 15px;
}

.container {
    border: 2px solid none;
    text-align: center;
    /* height: 84vh; */
}

.landing-middle {
    border: 1px solid none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

h1 {
    color: #fff;
    border: 1px solid none;
    margin-bottom: 0;
    font-size: 62px;
    font-family: "Winky Rough", sans-serif;
    font-weight: 500;
}

p {
    color: #fff;
    border: 1px solid none;
    margin-top: 0;
    /* font-size: 15px; */
    font-family: "Chokokutai", system-ui;
}

button {
    padding: 10px 20px;
    margin: 20px 0 0 0;
    font-family: "Chokokutai", system-ui;
}
