*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background: url("it_image.png");
    background-size: cover;
}

.container {
    border: 2px solid red;
    height: 2000px;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    row-gap: 100px;
    /* column-gap: 20px; */
    /* justify-content: space-around; */
justify-content: center;
    align-content: space-evenly;
}

.box {
    border: 1px solid green;
    color: white;
    height: 300px;
    width: 300px;
    text-align: center;
}

