@media screen and (max-width: 479px) {

    /* 1st page */

    .header,
    image {
        background-position: 800px;
    }

    .main-text h1 {
        font-size: 25px;
        color: white;
    }

    .logo {
        border: 2px solid none;
        width: 77px;
        height: 77px;
        background-position: start;
        margin-left: 0;
    }

    .left-side {
        color: #fff;
        border: 1px solid none;
        font-family: "Jacquard 12", system-ui;
        font-size: 50px;
        margin-left: 0px;
        margin-top: 10px;
        letter-spacing: 1px;
        overflow: initial;
    }

    .navbar {
        border: 2px solid none;
        flex: 1;
        align-self: start;
        text-align: right;
        background-color: #9aa5b1;
        background-size: cover;
        position: absolute;
        height: 100vh;
        font-size: 16px;
        left: -500px;
        padding: 20px 50px;
        top: 100px;
        width: 100%;
        transition: 0.2s ease-in-out;
    }

    .navbar.active {
        left: 0px;
        z-index: 2;
    }

    .navbar ul li a {
        color: #0d2436;
        text-decoration: none;
        /* display: none; */
        /* background-color: wheat; */
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .content {
        /* background-color: aliceblue; */
    }

    .burger {
        color: green;
        margin-right: 20px;
    }

    #toggle {
        display: block;
    }

    .main-text p {
        font-size: 15px;
        color: #fff;
    }

    .icon {
        display: block;
        color: green;

    }

    .left-side {
        width: 100%;
    }


     
/* 2nd page */

.icon{
    display: block;
    color: green;
    
}

.containerr {
    flex-direction: row;
}

.left-side {
    width: 100%;
}

.subheading {
    font-size: 16px;
}

.logo {

}

.clg-image {
    width: 100%;
    /* padding-inline: 12px; */
    /* grid-auto -rows: 220px;  */
}

 .container {
    flex-direction: column;
}

.gallary {
    width: 100%;
    padding-inline: 12px;
    grid-auto-rows: 190px;
} 

.box {
    grid-row: span 1;
    grid-column: span 3;
}

#box-8 {
    grid-area: 1 / 1 / 1 / 4;
}
    

video{
    height: 135px;
    width: 250px;
    /* border: 1px solid salmon; */
    margin: 0 0 0 0;
    
}

}    