* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body { 
    /* background-color: #2F4F4F; */
    /* background-color: #312e2e; */
    /* background-color: #00072d; */
    /* background-image: url("https://tse2.mm.bing.net/th?id=OIP.djs9mGfRplWKYqinBqqjjAHaDX&pid=Api&P=0&h=180"); */
    font-family: 'poppins', sans-serif;
} 
  
/* 1st page */

.header{
    /* overflow: hidden; */

}
nav .fa {
    display: none;
}

.header , image {
    min-height: 100vh; 
    width: 100%;
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(https://images.collegedunia.com/public/reviewPhotos/369496/inbound6449048373204272265.jpg?mode=cover); */
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(https://wallpaperaccess.com/full/4230797.jpg); */
    background-image: url("https://wallpapercave.com/wp/wp3855137.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    /* overflow: hidden; */
}

nav{
    border: 1px solid none;
    display: flex;
    padding: 0px 40px; 
    justify-content: space-between;
    align-items: center;
}   
 
.logo {
    border: 2px solid none;
    height: 120px;     
    width: 170px; 
    background-position: start;
}  

.left-side{
    color: #fff;
    border: 1px solid none;
    
    font-family: "Jacquard 12", system-ui;
    /* font-weight: 400; */
    font-size: 50px;
    margin-left: 170px;
    letter-spacing: 1px;
}
  
.navbar { 
    border: 2px solid none; 
    flex: 1;
    align-self: start;
    text-align: right; 
} 

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 12px;
    position: relative;
    border: 2px solid none;
    
} 

.navbar ul li a {
    color: #fff; 
    text-decoration: none; 
}

.navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.main-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);/*for align text centre*/
    text-align: center;
}

.main-text h1 {
    font-size: 62px;
} 

.main-text p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.burger{
    /* width: 100px; */
    display: none;
}

nav .fa{
    display: none;/*icon will be hidden for larger screen devices*/
}


/* ABOUT PAGE */

.bg img{
    /* background-image: url("https://ideogram.ai/assets/image/lossless/response/GGP1JCM1Q7quJOuLXyjmMw");
    background-position: center;
    background-size: cover; */
    border: 2px solid rebeccapurple;
    width: 100%;
    height: 65vh;
    position: absolute;
}